@media only screen and (min-width: 576px) {
    .login .actions-top { border: none; }
}

@media only screen and (min-width: 992px) {
    .container {
        overflow: hidden;
        grid-template-columns: 2fr 1.5fr;
    }

    .banner,
    .logo-desktop{
        display: block;
    }

    .logo { padding: 0; }

    .logo-mobile,
    .btn-back-mobile {
        display: none;
    }

    .login {
        padding: 24px;
        overflow-y: auto;
    }

    .login .actions-top { border: none; }
    .login .actions-top a.btn { color: var(--primary-color) }

    .captcha {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .reverse {
        display: flex;
        flex-direction: column;
    }

    .remember {
        padding: 0 0 24px 0;
    }

    .btn-submit{ margin: 24px 0; }
    .register .btn-submit{ margin: 24px 0 0 0; }
    .btn-submit svg{ display: inline; }
}

@media only screen and (min-width: 1200px) {
    .container { grid-template-columns: 2fr 1fr; }
}
